services:
  nextjs:
    build:
      context: ..
      dockerfile: docker/Dockerfile-prod
    container_name: la-nuit-info-nextjs-prod
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
