services:
  nextjs:
    image: registry.grimmely.com/la-nuit-info-2025:latest
    container_name: la-nuit-info-nextjs-prod
    env_file:
      - path: .env
    environment:
      - NODE_ENV=production
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    restart: unless-stopped
